p{
    color: #c0b10e;
    font-size: 36px;
    background-color: aqua;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
    
 }

 body {
background-color: #fff000;
}

 .verde{
     color:green
 }

 .celeste{
     color: skyblue
 }

 #subtitulo{
     color: orange 
 }
 
 div{
     color: red
 }
 div h2{
     color:green
 }

 #caja1, #caja2, #caja3{
     height: 100px;
     width: 100px;
     background-color: aqua;
 }
 #caja1{
     margin: 20px;
 }
 #caja2{
    margin: 30px;
}
#caja3{
    margin: 40px;
}

a{
    margin: 20px;
    background: cadetblue;
    color: gray;
    padding: 10px;

}

#navmenu{
    list-style-type: none;
}

#navmenu li{
    display:inline ;
}

 